.imagebox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 2px solid red; */
  }
p{
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 45px;
}
.searchbox{
  display: flex;
  justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
}